{% extends 'base.html' %}

{% block title %}
<title>about</title>
{% endblock %}

{% block body%}
<div class="container">
    <div class="container">
            <h1>Обо мне</h1>
        <p class="fs-5 text-body-secondary">Привет! Меня зовут Никита и я студент 3 курса колледжа морского приборостроения.
            Рад приветствовать вас на моем проекте, который я разработал для демонстрации навыков, полученных в ходе обучения.
        </p>
        <p class="fs-5 text-body-secondary">Мой сайт представляет собой интернет магазин, созданный на Python с использованием сервера Flask и специальных модулей для реализации различных функциональностей.
            Здесь вы можете увидеть мои умения в программировании, дизайне и разработке веб-приложений.
        </p>
        <p class="fs-5 text-body-secondary">Я старался сделать этот сайт удобным и функциональным, чтобы вы могли комфортно пользоваться всеми его возможностями.
            Надеюсь, что вам понравится мой проект и вы найдете здесь что-то интересное для себя.</p>
        <p class="fs-5 text-body-secondary">Спасибо за ваше внимание и интерес к моему творчеству!
            Если у вас есть какие-либо вопросы или предложения, не стесняйтесь обращаться ко мне.
            Буду рад услышать ваше мнение и помочь вам в любом вопросе.
            Спасибо!
        </p>
    </div>
</div>
{% endblock %}
