{% extends 'base.html' %}
{% block title %}
<title>Login page</title>
{% endblock %}

{% block body%}
<div class="container">
    <h1 class="h1">Авторизация</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    </ul>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST">
        <br><button class="btn btn-success"><a href="/login" class="me-3 py-2 link-body-emphasis text-decoration-none">Администратор</a></button>
        <br>
        <br><button class="btn btn-success"><a href="/login" class="me-3 py-2 link-body-emphasis text-decoration-none">Пользоваетль</a></button>
        <br>
        <br><button class="btn btn-success"><a href="/login" class="me-3 py-2 link-body-emphasis text-decoration-none">Менеджер</a></button>
    </form>
</div>
{% endblock %}