{% extends 'base.html' %}
{% block title %}
<title>Страница авторизации</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h1">Выбор роли</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    </ul>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="GET" action="{{ url_for('Login') }}">
        <br><button class="btn btn-primary" name="role" value="admin">Администратор</button>
        <br>
        <br><button class="btn btn-primary" name="role" value="user">Пользователь</button>
    </form>
</div>
{% endblock %}